html(lang=lang, dir="ltr", class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title="COASTWARDS"
		meta(name="description", content="Help science study the risks of sea-level rise by uploading pictures of coasts")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
		meta(name="apple-mobile-web-app-title", content="COASTWARDS")
		meta(name="apple-mobile-web-app-capabl", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
		meta(name="format-detection", content="telephone=no")
		meta(name="HandheldFriendly", content="True")
		meta(http-equiv="cleartype", content="on")

		link(rel="apple-touch-icon", href="apple-touch-icon.png")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		link(rel="stylesheet", href="./build/toolbox.css", type="text/css")
		link(rel="stylesheet", href="./build/styles.css", type="text/css")
		<!--[if IE]>
		script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js")
		<![endif]-->
	body
		<!--[if lt IE 9]>
		div(class="frameworkAlert")
			h5 You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		<![endif]-->
		noscript
			div(class="frameworkAlert")
				h5 You have javascript disabled in your browser. To view this site, please enable javascript.
		div(id="App")
		script(src="./build/bundle.js")